@font-face {
font-family: Myriad Pro;
src: url(../fonts/MyriadPro.otf);
}
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,900');
*{
	margin: 0;
}
html{
	height: 100%;
    font-weight: 400;
	font-size: 100%;
	overflow-x: hidden;
	font-size: 16px;
	
}
body{
	height: 100%;
    font-weight: 400;
	font-size: 100%;
	overflow-x: hidden;
	font-size: 16px;
	scroll-behavior: smooth;}
header{
	height: 750px;
	background-image: linear-gradient(to top, #00f1ff 0%, #00a8b2 100%);
}
.wrap{
	position:relative;
}
.main_img{
	opacity:0.7;
	height: 750px;
	width:100%;
}
.content{
	position: absolute;
	max-width: 1300px;
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	top: 130px;
    right: 156px;
    width: 100%;
}
.logo{
	margin-top:43px;
}
.logo p{
	margin-top:55px;
	/* Style for "Talk to pe" */
	width: 331px;
	height: 88px;
	color: #333333;
	font-family: 'Catamaran', sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 54px;
	/* Text style for "T, alk to" */
	letter-spacing: 3.6px;
}
.pCode{
	/* Style for "If you’re" */
	width: 317px;
	height: 40px;
	color: #ffffff;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "If you’re" */
	letter-spacing: 1.6px;
}
.logo img{
	margin-left:27px;
}
.register{
	width: 377px;
	height: 435px;
	box-shadow: 0 6px 6px 1px rgba(44, 43, 45, 0.7);
	background-color: #333333;
	opacity: 0.9;
	display:none;
	flex-direction:column;
}
.registerShow{
	display:flex;
}
.button{
	width: 190px;
	height: 58px;
	background-color: #ffffff;
	opacity: 0.7;
	border:none;
	
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 1.8px;
	color:black;
	
}
.activeButton{
	background-color: #333333;
	opacity: 0.8;
	color:white;
	
}
.inputDiv{
	display:flex;
	flex-direction:column;
}
.inputDiv input{
	/* Style for "Rectangle" */
    width: 340px;
	height: 40px;
	background-color: #ffffff;
	margin-top:15px;
	margin-left:13px;
	margin-right:17px;
	padding-left: 5px;
    font-size: 18px;
}
.inputDiv p{
	margin-left:13px;
	margin-top: 15px;
}
.buttonRegister{
	/* Style for "registerNo" */
	width: 347px;
	height: 40px;
	background-color: #ff6600;
	border:none;
	margin-left: 13px;
	margin-top: 15px;
}
.buttonRegister p{
	/* Style for "Register n" */

	color: #333333;
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	/* Text style for "Register n" */
	letter-spacing: 3px;
}
.buttonDiv{
	display:flex;
	flex-direction:row;
}
.content2{
	display:flex;
	flex-direction:column;
	margin-top: 75px;
	align-items:center;
}
.top{
	display:flex;
	flex-direction:column;
	text-align:center;
	width:765px;
	
	
}
.headText{
	/* Style for "What is El" */
	color: #00a8b2;
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	/* Text style for ",  ," */
	letter-spacing: 3px;
	/* Text style for "What is El" */
	letter-spacing: 3px;
	margin-bottom:25px;
	text-align:center;
	
}
.text{
	/* Style for "Web platfo" */
	color: #333333;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "Web platfo" */
	letter-spacing: 1.6px;
	margin-bottom:60px;
}
.icons{
	display:flex;
	flex-direction:row;
	justify-content:center;
	justify-content: space-around;
    width:1200px;
}
.box{
	display:flex;
	flex-direction: column;
	width:250px;
	height:200px;
	align-items:center;
	text-align: center;
	
}
.box img{
	width:68px;
	height:68px;
}
.head_box{
	color: #00a8b2;
	font-family: 'Catamaran', sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.6px;
}
.text_box{
	/* Style for "Web platfo" */
	color: #333333;
	font-family: 'Catamaran', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "Web platfo" */
	letter-spacing: 1.6px;
}
footer{
	margin-top: 75px;
	/* Style for "Rectangle" */
	height: 121px;
	background-color: #333333;
}
.content3{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.polosi{
	/* Style for "Asset 14 c" */
	width: 45px;
	height: 5px;
	background-color: #ffffff;
}
.footer_logo{
	margin-top: 28px;
    margin-left: 54px;
	width: 160px;
	height: 64px;
}
.polosiDiv{
	display:flex;
	flex-direction:row;
	margin-top:35px;
	margin-right:85px;
	align-items: center;
}
.right_footer{
	/* Style for "Connect wi" */
	color: #ffffff;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
	/* Text style for "C, onnect" */
	letter-spacing: 1.6px;
}
.polosi_text{
	margin-left: 10px;
	margin-right: 10px;
}
.emailP{
	text-align: center;
    margin-right: 65px;
}
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes swingY {
  15% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes swing3 {
  15% {
    transform: translateX(3px);
  }
  30% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(2px);
  }
  65% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.box:hover {
  animation: swing 1.5s ease;
  animation-iteration-count: 1;
}
.buttonRegister:hover {
  animation: swing 1.5s ease;
  animation-iteration-count: 1;
}
.logo img:hover {
  animation: swingY 1.5s ease;
  animation-iteration-count: 1;
}
.logo p:hover {
  animation: swing 1.5s ease;
  animation-iteration-count: 1;
}
.headText:hover {
    transform: scale(1.5);
}
.headText:hover {
    transform: scale(1.5);
  }
.text:hover {
    transform: scale(1.5);
  }
.button:hover {
	animation: swing3 1.5s ease;
	animation-iteration-count: 1;
}
.footer_logo:hover {
 animation: swing 1.5s ease;
}
@media(max-width:1407px){
	.content{
		max-width: 930px;
		top: 130px;
		left: 20px;
	}
	.icons{
		max-width: 950px;
		width: 100%;
	}
}